body {
    padding-top: 0px;
    padding-bottom: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.navbar {
    opacity: 0.5;
    background-color: #fff;
    width: 50%;
    margin: auto;
}

    .navbar:hover {
        opacity: 1;
        height: 25%;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

#containID {
    max-width: 100%;
    padding-top: 0px;
    margin: 0px;
    margin-left: 0px;
    padding-left: 0px;
    right: 0;
    left: 0;
}

.special, .special .jumbotron {
    max-height: 100%;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

#editFrm {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#editTxtArea {
    width: 600px;
    height: 400px;
}


.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
